.card-depense{
   border-radius: 6px;
  border: none;
  box-shadow: none;
  outline: none;
  color: #1E8BC3;
  font-weight: bold;
  background-color: white;
  margin-top: 10px;
  height: 30px;
  vertical-align: center;
  text-align: center;
}
