a {
  color: white;
}
.form-control {
  // border-radius: 6px;
  border: none;
  box-shadow: none;
  padding: 10px 30px;
  outline: none;
  color: #34495E;
  font-weight: bold;
}
.form-field {
  padding: 10px 30px;
}

input[type="text"],
input[type='number'],
input[type='password'],
textarea {
  outline: none;
  box-shadow:none !important;
}

.formcalcul {
  margin-top: 30px;
}

.bnt, .btn-default {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6%;
  height: 50px;
  width: 50px;
  border: none;
  box-shadow: none;
  outline: none;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: white;
  color: #34495E;
  font-weight: bold
}

.btn :hover, .btn-default :hover {
  border: 2px solid white;
  box-shadow: none;
  outline: none;
  background-color: #34495E;
  color: white;
}

.btn-default-big{
  width: 100px;
}





























